<div class="contents">
  <div class="post">
    <div class="content-post">
      <div class="show-post">
        <%= image_tag @post.image, class:"post-image" %>
          <div class="name">
            <%= @post.name %>
          </div>
          <p><%= @post.text %></p>
        </div>
      </div>
    </div>
  </div>
</div>