.header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(247, 229, 247);
}

.grid-6{
  height: 50px;
}

.user_nav-grid-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-post{
  font-size: 20px;
  padding: 10px;
  border: 1px solid rgb(196, 74, 165);
}

a {
  color: rgb(196, 74, 165);
  text-decoration: none;
}

.user-nickname, .logout {
  font-size: 20px;
  margin-right: 20px;
}

.login, .sign-up {
  font-size: 20px;
}