.header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(248, 245, 236, 0.945);
}

.grid-6{
  height: 50px;
}

.user_nav-grid-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-post{
  font-size: 20px;
  padding: 10px;
  margin-right: 30px;
  border: 1px solid rgb(63, 45, 45);
}

a {
  color: rgb(63, 45, 45);
  text-decoration: none;
}

.user-nickname, .logout {
  font-size: 20px;
  margin-right: 20px;
}

.login, .sign-up {
  font-size: 20px;
}