.contents {
  height: 100vh;
  width: 100%;
  background-color: rgb(247, 229, 247);
}

.post{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.content_post{
  height: 500px;
  width: 700px;
  display: flex;
  justify-content: center;
  
}

.post-each {
  height: 450px;
  width: 700px;
  text-align: center;
  padding-top: 30px;
  border: 2px solid rgb(196, 74, 165);
  background-color: white;
  table-layout: fixed;
}

.post-image{
  height: 300px;
  width: 400px;
}

.name {
  font-size: 30px;
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
}