.contents {
  height: 100vh;
  width: 100%;
  background-color: rgba(248, 245, 236, 0.945);
  display: flex;
  overflow: scroll;
}

.post-side {
  height: 100%;
  width: 300px;
}
.post-search {
  height: 100%;
  width: 100%;
  list-style: none;
}

.post-main {
  height: 100%;
  width: calc( 100% - 300px );
}

.search-tag-name {
  font-size: 30px;
  font-weight: 600;
  color: rgb(63, 45, 45);
  margin: 15px 0;
  border-bottom: 1px solid rgb(63, 45, 45);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.content_post{
  height: 500px;
  width: 700px;
  display: flex;
  justify-content: center;
}

.post-each {
  height: 450px;
  width: 700px;
  text-align: center;
  padding-top: 30px;
  border: 2px solid rgb(63, 45, 45);
  background-color: white;
  table-layout: fixed;
}

.post-image{
  height: 300px;
  width: 400px;
}

.name {
  font-size: 30px;
}

p {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.tag{
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}